DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bolao_copa_2026?schema=public&sslmode=disable"
SHADOW_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bolao_copa_2026_shadow?schema=public&sslmode=disable"
AUTH_SECRET="gere-um-segredo-forte-com-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
# Alternativa aceita pelo Auth.js:
# AUTH_GOOGLE_ID=""
# AUTH_GOOGLE_SECRET=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
